@{
	ViewBag.Title = "Create";
}
@model AspNetCoreVideo.Entities.Video

<h2>Create Video</h2>
<form asp-action="Create" metod="post">
	<div asp-validation-summary="All"></div>
	<table>
		<tr>
			<td><label asp-for="Title"></label></td>
			<td><input class="form-control" asp-for="Title" /></td>
			<td><span asp-validation-for="Title"></span></td>
		</tr>
		<tr>
			<td><label asp-for="Genre"></label></td>
			<td><select class="form-control" asp-for="Genre" asp-items="Html.GetEnumSelectList<Genres>()"></select></td>
			<td><span asp-validation-for="Genre"></span></td>
		</tr>
	</table>
	<input class="btn btn-success" type="submit" value="Create" />
	<br />
	<a asp-action="Index">Back to list</a>
</form>
